@import "reset.css";

body {
  width: 100vw;
  height: 100vh;

  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 600px;
  height: 600px;

  background-color: white;
  border: 2px solid black;
}
